a.group-mod_mailjet {
    background: url(icons/send.svg) 3px 2px no-repeat;
}

body:after {
    content: "";
    position: fixed;
    z-index: 100;
    height: 100vh;
    right: 0px;
    top: -101vh;
    left: 0px;
    background: rgba(0, 0, 0, 0.57);
    background-image: url(icons/loading/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    transition: all 0.7s ease-in-out;
}

body:before {
    content: " ";
    position: fixed;
    z-index: 101;
    right: 0px;
    left: 0px;
    top: -200vh;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in-out;
}

body.waiting:after {
    top: 0px;
    bottom: 0px;
}

body.waiting:before {
    top: calc(50% - 170px);
    content: "Massenmail wird verschickt...";
}

a.sync {
    padding: 3px 0 3px 21px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 15px;
    background-image: url(/system/themes/flexible/icons/sync.svg);
}

form[action^="contao?do=mailjet-templates"] + #tl_buttons .header_new {
    display: none !important;
}

a.header_new[href*="mailjet-contactlists"] {
    display: none !important;
}

a.header_new[href*="mailjet-template"] {
    display: none !important;
}
