{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Mailjet Empfänger Import
{% endblock %}

{% if error %}
    {% block error %}
        {{ error|raw }}
    {% endblock %}
{% endif %}

{% block main %}
    <div class="tl_listing_container limit_height">

        {# Anleitung #}
        <div class="import-guide tl_tbox theme_import">
            <h2>Import Anleitung</h2><br>
            <p>Hier können Sie <b>Microsoft Excel (.xlsx)</b> Dateien in die Empfängerliste Ihres Mailjet-Bundles
                importieren.<br>
                Die importierten Empfänger ergänzen die bestehenden Empfänger, es wird nichts gelöscht oder
                überschrieben.<br><br>
                Jede Datei muss zwingendermassen die Tabelle "Tabelle1" und folgende Spalten enthalten (die Reihenfolge
                der Spalten ist egal):
            <ul class="">
                <li><b>firstname</b> - für den Vornamen</li>
                <li><b>lastname</b> - für den Nachnamen</li>
                <li><b>email</b> - für die E-Mail Adresse, muss eine gültige E-Mail Adresse sein!</li>
            </ul>
            <br><br>
            Optional können folgende Spalten hinzufügt werden:<br><br>
            <ul class="">
                <li><b>variable1</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable2</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable3</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable4</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable5</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable6</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable7</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable8</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable9</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
                <li><b>variable10</b> - flexible Variable, kann im Mailjet-Template verwendet werden</li>
            </ul>
            </p>
        </div>

        {# Formular #}
        <div class="import-form tl_tbox theme_import">
            <br>
            <h2>Import Formular</h2><br>
            <form class="tl_formbody_edit nogrid" method="post" enctype="multipart/form-data">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token|raw }}"/>
                <div class="tl_formbody_edit">
                    <label>Excel-Datei:</label>
                    <input type="file" name="file" id="file" required
                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                </div>
                <br>
                <div class="tl_formbody_edit">
                    <label>Empfängergruppe:</label>
                    <select name="group" class="selector_container" required="required" required>

                        <option {% if grouppreset == false %} selected {% endif %} disabled value="">Gruppe wählen
                        </option>
                        {% for group in groups %}
                            {% if group.selected == true %}
                                <option value="{{ group.id }}" selected>{{ group.name|raw }}</option>
                            {% else %}
                                <option value="{{ group.id }}">{{ group.name|raw }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                <br><br>
                <div class="tl_formbody_edit">
                    <label></label>
                    <input type="submit" class="tl_submit" name="submit" value="Importieren">
                </div>
            </form>
        </div>
    </div>

    <script>

        var error = document.getElementsByClassName("tl_gerror").innerHTML;
        console.log(error);

        if (document.getElementsByClassName("tl_gerror").innerHTML == "") {
            console.log(document.getElementsByClassName("tl_gerror").innerHTML);
        }

    </script>
{% endblock %}

